<h2 class="mat-modal-title" mat-dialog-title><b>Detail Information</b></h2>
<mat-dialog-content class="mat-modal-content">
  <br>
  <div class="detail" *ngFor="let item of data.event._rawDataFields | keyvalue">
    <div>
        <b>event_{{ item.key }}:</b>&nbsp; 
        <button class="togglestar" *ngIf="!isFavorite(item.key)" (click)="selectEvent(item.key)"><i class="fas fa-star empty-star"></i></button>
        <button class="togglestar" *ngIf="isFavorite(item.key)" (click)="selectEvent(item.key)"><i class="fas fa-star favorite-star" ></i></button>
        <br>
        <span>{{ item.value }}</span>
    </div>
  </div>
  <!-- Other content fields -->
</mat-dialog-content>
<mat-dialog-actions class="modal-bottom">
  <button class="modal-action-buttons" mat-button (click)="dialogRef.close()">Close</button>
</mat-dialog-actions>