/* Style for the AlterInfo table */
.alert-info-table {
    inline-size: 100%; /* Make the table fill its container */
    border-collapse: collapse; /* Collapse table borders */
}

/* Style for table header */
.alert-info-table th {
    background-color: transparent; /* Light gray background color */
    border-bottom: 1px solid #a1a1a1; /* Add border to table cells */
    color:white;
    padding: 8px; /* Add padding */
    text-align: center; /* Align text to the left */
}

/* Style for table rows */
.alert-info-table td {
    border-bottom: 1px solid #a1a1a1; /* Add border to table cells */
    color: #a1a1a1;
    padding: 8px; /* Add padding */
    text-align: center;
}

/* Style for even table rows */
.alert-info-table tbody tr:nth-child(even) {
    background-color: transparent; /* Alternate row background color */
}

    
/* Style for table rows on hover */
.alert-info-table tbody tr:hover {
    background-color: #dddddd46; /* Change background color on mouse hover */
    border-radius: 20px;
}